.form {
	width: 100%;
	display: flex;
	padding: 1.4rem 1rem;
}

.input {
	flex: 1 0 auto;
	font-size: 1.2rem;
	padding: 0.6rem 1.3rem;
	border: none;
	outline: none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.button {
	cursor: pointer;
	background-color: var(--color-accent);
	color: var(--color-light-lime);
	padding: 0 1.4rem;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.button:hover {
	filter: brightness(110%);
}

.add {
	font-weight: bold;
	font-size: 2rem;
	flex-shrink: 0;
}
