:root {
	--color-bg-dark: #f6ada1;
	--color-bg: #feb9af;
	--color-crimson: #f67f6d;
	--color-text: #525252;
	--color-light-lime: #f7ffcb;
	--color-accent: #d3e663;
	--color-pink: #fad4ce;
	--color-scrollbar: #594b49;
}

html.dark {
	--color-bg-dark: #594b49;
	--color-bg: #725c59;
	--color-text: #ffffff;
}

#root {
	width: 100%;
	height: 60%;
	max-width: 438px;
	background-color: var(--color-bg-dark);
	border-radius: 30px 30px 30px 30px;
	display: flex;
	flex-direction: row;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	overflow: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	accent-color: var(--color-accent);
	background-color: #7a635fb2;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding-left: 0;
}

button {
	outline: none;
	border: none;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--color-scrollbar);
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--color-accent);
}
::-webkit-scrollbar-thumb:active {
	background: var(--color-accent);
}
::-webkit-scrollbar-track {
	background: var(--color-bg-dark);
	border: 0px none #ffffff;
	border-radius: 8px;
}
